<style type="text/css" media="screen">
.wrapper{
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.meta{
  color: #666;
}
</style>

<div id="msg" class="wrapper">
  <h1>applications:deployment/snazzy-app</h1>
  <div id="status" class="meta">
    <section>
      <strong>Status:</strong> ready
    </section>
    <section>
      <strong>Pods Ready:</strong> 2
    </section>
    <section>
      <strong>Pods Desired:</strong> 2
    </section>
  </div>

  <h2>Containers</h2>
  <div id="containers" class="primary">
    <ul>
      <li>
        <p><strong>Snazzy:</strong> snazzyserver:v1.2.3</p>
      </li>
    </ul>
  </div>

  <h2>Automation</h2>
  <div id="automation" class="meta">
    <section>
      <strong>Automated:</strong> false
    </section>
    <section>
      <strong>Locked:</strong> false
    </section>
    <section>
      <strong>Ignore:</strong> false
    </section>
    <section>
      <strong>Policies:</strong> <em>none</em>
    </section>   
  </div>
</div>
